// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eb9c3c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-task styles
// ----------------------------------------------------------------------------
.widget-servers {

  background-color: $background-color;

  .title {
    color: $title-color;
    margin-bottom: 15px;
  }
  .error {
    color: red;
  }
  .name {
    padding-left: 5px;
  }

//  .servers-container {
//    display: none;
//  }

  h2 {
    font-size: 40px;
  } 
  h3 {
    font-size: 30px;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
