<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [470, 350]
  Dashing.numColumns = 4
});
</script>


<% content_for :title do %>HyperDashboardPrimos<% end %>
<div class="gridster">
   <ul>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div style="background-color:#3299BB;" data-id="primos" data-unordered="true" data-title="Primos de Turno" data-view="Primos"></div>
      <i class="icon-check icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div style="background-color:#FF9900;"  data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="labs_overall" data-view="Meter" data-title="Estado Labs" data-min="0" data-max="40" data-moreinfo="De un total de 40 PCs" ></div>
    </li>
<!--
    <li id="show-koshiro" data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div style="background-color:#FF9900;">
        <img style="width:470px;height:350px" src="http://primo:primo@koshiro/img/video.mjpeg" />
      </div>
    </li>
-->

  <li  data-row="1" data-col="4" data-sizex="1" data-sizey="1">
    <div data-id="klimato" data-view="Klimato"></div>
  </li>


	<li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-id="google_calendar" data-view="GoogleCalendar"></div>
    <i class="icon-calendar icon-background"></i>
	</li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="code_list" data-view="Tasks" style="background-color:#424242"></div>
    </li>
    
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Labs" data-id="labs" data-title="Apagados" ></div>
      <i class="icon-power-off icon-background"></i>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
<!-- 
      <img src="http://i.imgur.com/vdHd3UL.gif" width="470" height="350" />
      <img style="width:470px;height:350px" src="http://primo:primo@tenzen/img/video.mjpeg" />
      <object type="application/x-shockwave-flash" height="378" width="620" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=twitchplayspokemon" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=twitchplayspokemon&auto_play=true&start_volume=25" /></object>
 -->
       <div data-view="Countdown" data-title="[GUATON INTENSIFIES]" data-end="May 6, 2016 20:00:00"></div>
       <i class="icon-food icon-background"></i>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Servers" data-id="servers" data-title="Servers" ></div>
      <i class="icon-linux icon-background"></i>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-title="Uso de red" data-id="red" data-view="Graph" ></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
       <div data-view="Text" data-id="musica" style="background-color:#299B1C"></div>
       <i class="icon-music icon-background" ></i>
    </li>

  </ul>
</div>
<div data-id="reload" data-view="Reload" data-title="Reload" style="display: none"></div>