<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [470, 350]
  Dashing.numColumns = 4
});


</script>


<% content_for :title do %>1080p dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="primos" data-unordered="true" data-title="Primos de Turno" data-view="List"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="labs_overall" data-view="Meter" data-title="Estado Labs" data-min="0" data-max="72" data-moreinfo="De un total de 72 PCs" ></div>
    </li>

    <li id="show-koshiro" data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div style="background-color:#4b4b4b;">
        <img style="width:470px;height:350px" src="http://primo:primo@koshiro/img/video.mjpeg" />
      </div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="code_list" data-view="Tasks" style="background-color:#9c4274;"></div>
    </li>
    
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Labs" data-id="labs" data-title="Apagados" ></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <!-- rene <img src="http://i.imgur.com/xoDbPag.jpg" width="470" height="350" /> -->   
      <img style="width:470px;height:350px" src="http://primo:primo@tenzen/img/video.mjpeg" />
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Graph" data-title="Red DI" data-id="red">Red DI
      </div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Servers" data-id="servers" data-title="Servers" ></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#4682B4;" data-moreinfo="Menciones Cuenta Primos (@utfsm_labs)"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
       <!-- old <iframe id="yutuv"  width="470" height="350" src="//www.youtube.com/embed/KMFOVSWn0mI?autoplay=1&loop=1&mute=1" frameborder="0" allowfullscreen></iframe> -->
       <div data-view="Text" data-id="musica"></div>
    </li>

  </ul>
</div>
