<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [470, 350]
  Dashing.numColumns = 4
});
</script>


<% content_for :title do %>1080p dashboard<% end %>

<div calss="jqmWindow" id="dialog">
  <a href="#" class="jqmClose">X</a>
  <img height="1280" src="http://primo:primo@koshiro/img/video.mjpeg" />
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="primos" data-unordered="true" data-title="Primos de Turno" data-view="List"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="icinga" data-view="Text" data-text="PCs" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="widget show-koshiro" style="background-color:#4b4b4b;"><img height="280" src="http://primo:primo@koshiro/img/video.mjpeg" /></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="code_list" data-view="Tasks" style="background-color:#9c4274;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="widget" style="background-color:#12b0c5;">Cámara 2</div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Text" data-text="Red" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Text" data-text="Servers" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Menciones Cuenta Primos (@utfsm_labs)"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="widget" style="background-color:#9c4274;" ><iframe width="455" height="280" src="//www.youtube.com/embed/Sagg08DrO5U" frameborder="0" allowfullscreen></iframe></div>
    </li>

  </ul>
</div>
